.Users {
    width: 33%;
    background-color: #d7efff;
    padding: 10px;
    height: calc(100vh - 75px);
    font-size: 20px;
}

.Users h2 {
    text-align: center;
}

.dFlex {
    display: flex;
}

.Outlet {
    width: 66%;
    font-size: 25px;
}